*{
    box-sizing: border-box;
}
body{
    background-color: grey;
    margin: 0px;
    padding: 10px;

}

header{
    padding: 1%;
    background-color: rgb(88, 88, 169);
    color: #fff;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div{
    margin: 40px;
    background-color: rgb(116, 88, 116);
    height: 300px;
    border: 5px solid blue;
    padding: 10px;
}
.header-list{
    display: inline;
    list-style-type: none;
}

.flex{
    display: flex;
    justify-content: space-between;
}

li{
    display: inline;
    list-style-type: none;
    font-size: 20px;
}

li a{
    display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover{
    background-color: rgb(126, 166, 186);
}

h1{
    font-size: 40px;
    color: white;
    margin: 5px;
}

h2{
    padding-left: 100px;
    font-size: 27px;
}

.section-tittle{

}

#sections{

}


